.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px;
  border-radius: 24px;
  background-color: var(--white-color);
}

.image_wrapper {
  border: 2px solid rgba(240, 63, 59, 0.2);
  border-radius: 18px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 60px;
  height: 60px;
  padding: 8px;
  position: relative;
}

.image img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dot {
  position: absolute;
  top: 7px;
  right: 8px;
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot span {
  padding: 4px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgba(56, 205, 62, 1);
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.name {
  margin-bottom: 10px;
}
.name p {
  font-weight: 500;
  color: rgba(138, 138, 137, 1);
  margin-bottom: 8px;
}
.name span {
  font-weight: 500;
  font-size: 18px;
  color: rgba(17, 16, 28, 1);
}
.header_block {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.location,
.rating,
.price {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  color: rgba(17, 16, 28, 1);
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
.icon_location {
  stroke: white;
}

.icon_rating {
  fill: rgba(255, 197, 49, 1);
}
.price span {
  color: green;
}
.header_btn {
  border: none;
}
.heart {
  fill: white;
  stroke: black;
}
.isFavorite {
  fill: red;
  stroke: red;
}
.list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
.item {
  padding: 8px 16px;
  background: rgba(243, 243, 243, 1);
  border-radius: 24px;
  font-weight: 500;
  color: rgba(138, 138, 137, 1);
  font-size: 14px;
}
.item span {
  color: black;
  font-weight: 600;
}
.about {
  font-size: 12px;
  color: rgba(17, 16, 28, 0.5);
  margin-bottom: 14px;
}
.read {
  color: rgba(17, 16, 28, 1);
  font-weight: 500;
  border: none;
  text-decoration: underline;
  transition: all 0.4s ease;
}
.hide {
  display: none;
}
.read:hover {
  color: red;
}
.reviews {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}
.modal {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.4s ease;
}
.modalIsOpen {
  visibility: visible;
  position: static;
  opacity: 1;
  transform: translateY(0);
}

.reviews_item {
  padding: 8px;
  border-radius: 12px;
}
.reviews_header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(240, 63, 59, 0.2);
}
.avatar span {
  font-weight: 500;
  font-size: 20px;
  color: var(--red-color);
}
.header_info p {
  font-weight: 500;
  color: rgba(17, 16, 28, 1);
}
.header_rating {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(17, 16, 28, 1);
}
.comment {
  font-size: 12px;
}
.btn {
  width: 240px;
}

@media (min-width: 768px) {
  .container {
    gap: 24px;
    padding: 24px;
  }
  .image_wrapper {
    border-radius: 24px;
    width: 120px;
    height: 120px;
  }
  .image {
    width: 96px;
    height: 96px;
  }
  .dot {
    top: 4px;
    right: 10px;
    width: 14px;
    height: 14px;
  }
  .dot span {
    width: 10px;
    height: 10px;
  }
  .header {
    flex-direction: row;
  }
  .name {
    margin-bottom: 24px;
  }
  .name span {
    font-size: 24px;
  }
  .decore {
    position: relative;
  }
  .decore::before {
    position: absolute;
    top: 0;
    right: -16px;
    content: "";
    background-color: rgba(17, 16, 28, 0.2);
    height: 16px;
    width: 1px;
  }
  .location,
  .rating,
  .price {
    margin-right: 32px;
    margin-bottom: 0;
  }
  .about {
    font-size: 16px;
  }
  .item {
    font-size: 16px;
  }
  .reviews {
    margin-top: 20px;
    gap: 25px;
    margin-bottom: 48px;
  }
  .reviews_header {
    font-size: 16px;
    margin-bottom: 16px;
  }
  .reviews_item {
    padding: 14px;
  }
  .avatar {
    width: 44px;
    height: 44px;
  }
  .comment {
    font-size: 16px;
  }
}
