main {
  background: rgba(243, 243, 243, 1);
}
.container {
  padding-top: 20px;
}
.empty {
  font-size: 32px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  color: var(--red-color);
}
.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}
.loadmore {
  width: 159px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 100px;
}
.nomore {
  font-size: 24px;
  color: var(--red-color);
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
@media (min-width: 768px) {
  .container {
    padding-top: 64px;
  }
}
