.form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container textarea[name="comment"] {
  resize: none;
  margin-bottom: 15px;
  height: 40px;
}

.field {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 12px;
  transition: border-color 0.3s;
}

.field:focus {
  border-color: red;
  outline: none;
}

.error {
  margin-top: 5px;
  font-size: 10px;
  color: #d9534f;
}
.btn {
  height: 52px;
  transition: all 0.4s ease;
  cursor: pointer;
  background-color: var(--red-color);
  border-radius: 30px;
  font-size: 16px;
  color: var(--white-color);
  border: none;
  text-align: center;
  grid-column: span 2;
}
.btn:hover,
.btn:focus {
  background-color: rgb(242, 89, 89);
}

@media (min-width: 768px) {
  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 16px;
    column-gap: 8px;
  }
  .form .container:nth-child(5),
  .form .container:nth-child(6),
  .form .container:nth-child(7) {
    grid-column: span 2;
  }
  .container textarea[name="comment"] {
    height: 116px;
    margin-bottom: 40px;
  }
  .field {
    padding: 16px;
  }
  .error {
    font-size: 14px;
  }
}
